<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">Create User</a>
    </div>
    <div class="login-box">
        <form id="myForm" action="/create-user" method="POST">
                <div class="user-box">
                    <input type="text" id="emailId" name="email" required="" />
                    <label>Email: </label>
                </div>

                <div class="user-box">
                    <input type="text" id="nameId" name="myname" required="" />
                    <label>Name: </label>
                </div>

                <div class="user-box">
                    <input type="text" id="cityId" name="city" required="" />
                    <label>City: </label>
                </div>
                    <a href="#" onclick="submitForm()" >
                        EDIT
                    <span></span>
        </form>
    </div>

</body>

</html>