<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programming</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <p> Hello world ! This is ejs </p>
    <div>
        <img class="conmeo" src="/images/cat.jpg" alt="image">
    </div>
</body>
</html>